.vscode/*
.idea/*
__pycache__/
W1/results
W2/.idea/*
W3/results
W3/yolo
W3/.idea/
W4/.idea/
W4/csv
W4/RAFT
W4/MaskFlownet
data/vdo.avi
data/AICity_data
output
output_noOF
output_noOF_oldbb
output_opt3
opt1
opt2
.DS_Store
aic19-track1-mtmc-train
AICity_data
W3/sort
W4/pyflow