absl-py==0.11.0
alabaster==0.7.12
apptools==4.5.0
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
Babel==2.9.0
backcall==0.1.0
bleach==1.5.0
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
cloudpickle==1.6.0
configobj==5.0.6
cycler==0.10.0
Cython==0.29.22
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
decorator==4.4.2
defusedxml==0.6.0
detectron2==0.4+cu102
docutils==0.16
entrypoints==0.3
envisage==4.9.2
faiss==1.5.3
flake8==3.9.1
flake8-import-order==0.18.1
flatbuffers==1.12
future==0.18.2
fvcore==0.1.3.post20210311
gast==0.3.3
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
graphviz==0.16
grpcio==1.32.0
h5py==2.10.0
html5lib==0.9999999
idna==2.10
imageio==2.9.0
imagesize==1.2.0
imgaug==0.4.0
importlib-metadata==3.4.0
imutils==0.5.4
iniconfig==1.1.1
iopath==0.1.6
ipykernel==5.3.0
ipyparallel==6.3.0
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
llvmlite==0.36.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mayavi==4.7.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
motmetrics==1.2.0
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.5
nose==1.3.7
notebook==6.0.3
numba==0.53.1
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
omegaconf==2.0.6
opencv-contrib-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluggy==0.13.1
plyfile==0.7.2
portalocker==2.2.1
prometheus-client==0.8.0
prompt-toolkit==3.0.5
protobuf==3.14.0
ptyprocess==0.6.0
py==1.10.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.7.0
pydot==1.4.1
pydot-ng==2.0.0
pyface==7.1.0
pyflakes==2.3.1
Pygments==2.7.2
pynndescent==0.5.2
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.2.3
pytest-benchmark==3.4.1
python-dateutil==2.8.1
pytorch-metric-learning==0.9.98
pytz==2020.5
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==19.0.1
qtconsole==5.0.3
QtPy==1.9.0
record-keeper==0.9.30
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.0.0
tifffile==2020.9.3
toml==0.10.2
torch==1.7.0
torchaudio==0.7.0a0+ac17b64
torchvision==0.8.0
tornado==6.0.4
tqdm==4.59.0
traitlets==4.3.3
traits==6.1.1
traitsui==7.1.0
typing-extensions==3.7.4.3
umap-learn==0.5.1
urllib3==1.26.4
vtk==8.1.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yacs==0.1.8
zipp==3.4.0
